body,div,ul,ol,li,h1,h2,h3,pre,form,fieldset,input,textarea,p,th,td {
  padding: 0;
  margin:0;
}
ol,ul {
    list-style:none;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration:none;
    outline:none;
}
html, body {
    width:100%;
    height:100%;
}

body, input, textarea, select, button {
    font-family: Arial, 'Times New Romain', 'Microsoft YaHei', sans-serif;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
label {
    font-weight:normal;
}
.item-icon-right .gt {
    position: absolute;
    right: 11px;
    color: #ccc;
    font-size: 18px;
}